# Environment variables
WORKSPACE_ID=
CONVERSATION_USERNAME=
CONVERSATION_PASSWORD=

###################################################
# Optional params, delete any which are not used! #
###################################################

# Params to enable Text to Speech
TEXT_TO_SPEECH_USERNAME=
TEXT_TO_SPEECH_PASSWORD=

# Params to enable Speech to Text
SPEECH_TO_TEXT_USERNAME=
SPEECH_TO_TEXT_PASSWORD=
